* {
    font-family: '微軟正黑體';
}

body {
    text-align: center;
}

canvas {
    border: 2px solid black;
    background-image: url(titan.png);
}

#talkBox {
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}